@use './vars';

.contact__section {
    padding: 1rem;
}

.contact__section__p {
    font-size: 2rem;
    text-align: justify;
    text-indent: 2rem;
}

.contact__section__ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.contact__section__ul__link {
    width: 8rem;
    height: 8rem;
    margin: 1rem;
    border-radius: 4rem;

    img {
        width: 100%;
        height: 100%;
        filter: vars.$filter-dark;
    }
}

.contact__aside {
    padding: 1rem;
}

.contact__aside__form {
    padding: 1rem;
}

.contact__aside__form__line {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 4rem;

    &--body {
        height: 20rem;
    }
}

.contact__aside__form__input {
    display: block;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 99%;
    font-size: 1.5rem;
    border: solid 1.5px vars.$color-main1;
    border-radius: 1rem;
    background-color: transparent;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.contact__aside__form__label {
    font-size: 1.5rem;
    color: vars.$color-main1;
    position: absolute;
    bottom: 2rem;
    left: 1.5rem;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.contact__aside__form__input:focus, .contact__aside__form__input:valid {
    outline: none;
    border: 2px solid vars.$color-highlight;
}

.contact__aside__form__input:focus + .contact__aside__form__label,
.contact__aside__form__input:valid + .contact__aside__form__label {
    transform: translateY(-40%) scale(0.8);
    background-color: vars.$color-main2;
    padding: 0.2rem;
    color: vars.$color-highlight;
}

.contact__aside__form__textArea {
    background-color: transparent;
    color: vars.$color-main1;
    font-size: 1.5rem;
    resize: none;
    width: 99%;
    height: fit-content;
    min-height: 20rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border: solid 1.5px vars.$color-main1;
    border-radius: 1rem;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    text-indent: 2rem;
}

.contact__aside__form__label--body {
    font-size: 1.5rem;
    color: vars.$color-main1;
    background-color: vars.$color-main2;
    padding: 0.2rem;
    position: absolute;
    top: -1rem;
    left: 1.5rem;
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.contact__aside__form__textArea:focus, .contact__aside__form__textArea:valid {
    outline: none;
    border: 2px solid vars.$color-highlight;
}

.contact__aside__form__textArea:focus + .contact__aside__form__label--body,
.contact__aside__form__textArea:valid + .contact__aside__form__label--body {
    transform: scale(0.8);
    color: vars.$color-highlight;
}

.contact__aside__form__buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.contact__aside__form__button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 1rem;
    background: none;
    color: vars.$color-main1;
    cursor: pointer;
    position: relative;
    padding: 1rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    transition: all .15s ease;
    margin: 1rem;

    &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        left: 0;
        height: calc(50% - 5px);
        border: 1px solid vars.$color-main1;
        transition: all .15s ease;
    }

    &::before {
        top: 0;
        border-bottom-width: 0;
        border-radius: 1rem 1rem 0 0;
    }

    &::after {
        bottom: 0;
        border-top-width: 0;
        border-radius: 0 0 1rem 1rem;
    }

    &:active {
        outline: none;

        &::before, &::after {
            right: 3px;
            left: 3px;
        }

        &::before {
            top:3px
        }

        &::after {
            bottom: 3px;
        }
    }

    &:focus {
        outline: none;
    }

    &:hover {
        .contact__aside__form__button__sm {
            width: calc(100% + 15px);
        }

        .contact__aside__form__button__lg::after {
            background-color: vars.$color-main2;
        }
    }
}

.contact__aside__form__button__lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: vars.$color-main2;
    background-color: vars.$color-main1;
    overflow: hidden;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 2px;
        background-color: vars.$color-main1;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 4px;
        height: 4px;
        background-color: vars.$color-main1;
        transition: all .2s ease;
    }
}

.contact__aside__form__button__sm {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: vars.$color-highlight;
    transform: skew(-15deg);
    transition: all .2s ease;
}

.contact__aside__form__button__text {
    position: relative;
}