@use './vars';

.header {
    width: 100vw;
    height: fit-content;
    position: fixed;
    top: 0;
    background-color: vars.$color-main1;
    border-bottom: solid vars.$color-border 0.25rem;
    box-shadow: 1px 1px 10px vars.$color-border;
    margin-bottom: 1rem;
    z-index: 1;
}

.header__title {
    position: relative;

    a {
        text-decoration: none;
    }

    h1 {
        color: vars.$color-main2;
        background-color: vars.$color-main1;
        font-size: 3rem;
        font-weight: bold;
        text-align: left;
        padding: 1rem;
        margin-bottom: 0;
        z-index: 2;
        position: relative;
    }
}

.header__nav__icon {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    cursor: pointer;
    z-index: 2;
    padding: 1rem;

    &:hover {
        background-color: vars.$color-highlight;
    }
}

.header__nav__icon__line {
    width: 30px;
    height: 3px;
    background-color: vars.$color-main2;
    margin: 0.5rem;
    border-radius: 2px;
}

.header__nav {
    position: relative;
    background-color: vars.$color-main1;
    border: none;
}

.header__nav__ul {
    background-color: vars.$color-main1;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 1s;
}

.header__nav__ul--small {
    position: absolute;
    top: -28rem;
    z-index: 1;
}

.header__nav__ul--large {
    display: none;
}

.header__nav__ul.open {
    top: 0;
}

.header__nav__ul__li {
    padding: 0.5rem;
    height: 100%;
    width: 100%;
    text-align: center;
    opacity: 0;

    &:nth-child(1) {
        transition: all 0.5s ease 0.5s;
    }

    &:nth-child(2) {
        transition: all 0.5s ease 0.6s;
    }

    &:nth-child(3) {
        transition: all 0.5s ease 0.7s;
    }

    &:nth-child(4) {
        transition: all 0.5s ease 0.75s;
    }

    &:nth-child(5) {
        transition: all 0.5s ease 0.78s;
    }

    a {
        color: vars.$color-main2;
        text-decoration: none;
        font-weight: bold;
        font-size: 2rem;
        height: 100%;
        width: 100%;

        &:active {
            color: vars.$color-active;
        }
    }
}

.header__nav__ul__li.fade {
    opacity: 1;
}

.header__nav__ul__li--active a {
    color: vars.$color-active;
}

.header__nav__ul__li:active a {
    color: vars.$color-active;
}