@use './vars';

.programming {
    h2 {
        font-size: 2.5rem;
    }

    &__section {
        p {
            font-size: 2rem;
            text-align: justify;
            text-indent: 2rem;
            font-weight: 300;
    
            a {
                color: vars.$color-highlight;
                text-decoration: none;
                font-weight: bold;
            }
        }
    }
}


.programming__filter__tags {
    background-color: vars.$color-main1;
    padding: 0.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .tag--boton {
        cursor: pointer;
        position: relative;
        font-weight: bold;

        &:hover {
            transform: translateX(1px) translateY(1px);
            transition: all 0.2s ease-in-out;
        }
    }
}

.programming__filter__text {
    p {
        font-size: 2rem;
        text-align: justify;
        text-indent: 2rem;
        font-weight: 300;
    }
}

.programming__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.programming__container__card {
    width: 30rem;
    height: 40rem;
    background-color: vars.$color-main1;
    border-radius: 1rem;
    border: 2px solid vars.$color-main1;
    transition: all 0.4s ease-in;
    box-shadow: 0.4rem 0.4rem 0.6rem vars.$color-main1;
    overflow: hidden;
    margin: 2rem;
    display: none;

    a {
        text-decoration: none;
    }
}

.show {
    display: block;
}

.programming__container__card__img {
    width: 100%;
    height: 20rem;
    margin: 0;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 100%;
        transition: all 0.4s ease-in;
    }
}

.programming__container__card__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.programming__container__card__bottom__tagContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.programming__container__card__tag {
    margin: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
}

$language-tag: (
    todo: pink,
    html: #B7BFF8,
    css: limegreen,
    bs: violet,
    js: yellow,
    php: #F78282,
    python: #E1E2E6
);

@each $language, $color in $language-tag {
    .tag--#{$language} {
        border: 1px solid $color;
        color: $color;
    }
}

.programming__container__card__bottom__description {
    color: vars.$color-main2;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: justify;
}