@use './vars';

.sitemap {
    h2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 3rem;
    }

    h3 {
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        text-indent: 2rem;
    }

    p {
        font-size: 2rem;
        text-indent: 2rem;
        text-align: justify;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;

        li {
            font-size: 2rem;
            margin: 1rem;
        }
    }

    a {
        color: vars.$color-highlight;
    }
}

.sitemap__aside__h2, .sitemap__section__h2 {
    text-align: center;
}