$color-main1: #253151;
$color-main2: #FEFAE0;
$color-highlight: #2c6cdf;
$color-active: #DDA15E;
$color-border: grey;
$filter-light: invert(92%) sepia(14%) saturate(553%) hue-rotate(331deg) brightness(109%) contrast(99%);
$filter-dark: invert(17%) sepia(13%) saturate(2994%) hue-rotate(186deg) brightness(83%) contrast(86%);
$filter-active: invert(68%) sepia(85%) saturate(323%) hue-rotate(338deg) brightness(89%) contrast(93%);
$filter-highlight: invert(21%) sepia(70%) saturate(2112%) hue-rotate(201deg) brightness(96%) contrast(92%);
$font-main: 'Lora', serif;